.loading {
  position: relative;
  display: block;
  width: 100%;
  height: 6px;

  .loading__spinner {
    position: absolute;
    top: 0;
    left: 100%;
    width: 5%;
    height: 100%;
    background: rgb(67, 128, 197);

    animation: 1.25s linear infinite running move;

    @keyframes move {
      from {
        left: 0;
        opacity: 90%;
      }
      to {
        left: 100%;
        opacity: 60%;
      }
    }
  }
}
