<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form">

      <h1 class="form__heading">Create Test</h1>

      <div class="form-topic test-setting">
        <div class="form-control">
          <label for="input0" class="form-control__label">Enter the topic of the test</label>
          <input type="text" id="input0" class="form-control__input" formControlName="topic">

          <div *ngIf="form.get('topic')!.touched && form.get('topic')!['invalid']">
            <small *ngIf="form.get('topic')!.errors!['required']">Field cannot be empty</small>
          </div>
        </div>
      </div>

      <div class="form-array" formArrayName="quizzes">
        <h2 class="form-array__heading">Quiz Constructor</h2>

        <div class="quiz-form" *ngFor="let quiz of getQuizzesGroups()['controls']; let idQuiz = index" [formGroupName]="idQuiz">
          <h2 class="quiz-form__heading">Quiz {{ idQuiz + 1 }}</h2>
          <input
                type="text"
                class="form-control__input"
                formControlName="question">
          <div class="form-control" *ngFor="let option of getFormsOptionsControls(idQuiz)['controls']; let idOption = index">
            <div formArrayName="optionsAnswers" class="quiz-form__option">
              <input
                type="text"
                class="form-control__input quiz-form__input"
                formControlName="{{idOption}}">

              <button type="button" class="btnForm" [value]="idQuiz" (click)="addOption(idQuiz)">
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M23,11H13V1a1,1,0,0,0-1-1h0a1,1,0,0,0-1,1V11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H11V23a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1V13H23a1,1,0,0,0,1-1h0A1,1,0,0,0,23,11Z"/></svg>
              </button>

              <button type="button" class="btnForm" (click)="removeOption(idQuiz,idOption)">
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M23.707.293h0a1,1,0,0,0-1.414,0L12,10.586,1.707.293a1,1,0,0,0-1.414,0h0a1,1,0,0,0,0,1.414L10.586,12,.293,22.293a1,1,0,0,0,0,1.414h0a1,1,0,0,0,1.414,0L12,13.414,22.293,23.707a1,1,0,0,0,1.414,0h0a1,1,0,0,0,0-1.414L13.414,12,23.707,1.707A1,1,0,0,0,23.707.293Z"/></svg>
              </button>

              <button type="button" class="btnForm" (click)="markOption(option,idQuiz,idOption)" [class.mark-answer]="option == currentItem">
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M22.319,4.431,8.5,18.249a1,1,0,0,1-1.417,0L1.739,12.9a1,1,0,0,0-1.417,0h0a1,1,0,0,0,0,1.417l5.346,5.345a3.008,3.008,0,0,0,4.25,0L23.736,5.847a1,1,0,0,0,0-1.416h0A1,1,0,0,0,22.319,4.431Z"/></svg>
              </button>

            </div>
          </div>

        </div>
        <button type="button" class="btnForm btnAdd" (click)="addNewQuiz()">Add a new quiz</button>
      </div>

      <button type="submit" class="submit" [disabled]="form.invalid || submitted">Create Test</button>
    </div>
  </form>

</div>
